In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [4]:
cols = ["fLength", "fWidth", "fSize", "fConc", "fConc1", "fAsym", "fM3Long", "fM3Trans", "fAlpha", "fDist", "class"]
# there were no labels so we made a List of names and pass it as parameter while reading CSV file


df = pd.read_csv("magic04.data",names=cols) #here we passed column names

df["class"] = (df["class"] == "g").astype(int) #data included class as char we improved it to number 1 & 0 for effeiency
#g was for GAMA h for hadron
df.head()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,1
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,1
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,1

In [5]:
# for label in cols[:-1]:
#   plt.hist(df[df["class"] == 1][label], color='green', label='gama', alpha=0.7, density=True)
#   plt.hist(df[df["class"] == 0][label], color='red', label='hedron', alpha=0.7, density=True)
#   plt.title(label)
#   plt.ylabel("probablity")
#   plt.xlabel(label) 
#   plt.legend()
#   plt.show()

In [6]:
#rain, valid, test datasets


train, valid, test = np.split(df.sample(frac=1), [int(0.6*len(df)), int(0.8*len(df))])

c:\Users\jayes\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [7]:
def scale_dataset(dataframe):
    x= dataframe[dataframe.cols[:-1]].values
    y= dataframe[dataframe.cols[-1]].values

    scaler = StandardScaler()
    x = scaler.fit_transform(x)

    data = np.hstack((x, np.reshape(y, (-1, 1))))

    return data, x, y

In [1]:
#if we print tain data for both gama and hedron they will be diffrent in size 
#so we need to oversample or trainning data to match remaining data

In [69]:
n = 5
for i in range(n):
    for j in range(n):
        # Find the minimum distance to any edge
        layer = min(i, j, n - 1 - i, n - 1 - j)
        print(layer + 1, end=" ")
    print()

1 1 1 1 1
1 2 2 2 1
1 2 3 2 1
1 2 2 2 1
1 1 1 1 1